body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
    background-color: hsl(210, 46%, 95%);
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40vw;
}

.background > .image {
    width: 35%;
    height: 100%;
}

.background > .image > img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.text { 
    box-sizing: border-box;
    position: relative;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 100%;
    padding: 5%;
    background-color: white;
}

.text > div{
    margin: 2%;
}

.main {
    width: 100%;
    font-size: 3vw;
    font-weight: 700;
    font-family: 'Manrope';
    color: hsl(217, 19%, 35%);
}

.sub {
    width: 100%;
    font-size: 2vw;
    font-weight: 500;
    font-family: 'Manrope';
    color: hsl(214, 17%, 51%);
}

.bio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image-name-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.image-name-date .image {
    width: 20%;
}

.image-name-date .image img {
    border-radius: 50%;
    width: 100%;
}

.image-name-date .name-date {
    width: 70%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 5vw;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
}

.dark-icon {
    background-color: hsl(217, 19%, 35%);
}

.fill {
    box-sizing: border-box;
    width: 60%;
    height: auto;
}

.filter {
    filter: brightness(200%) saturate(200%) sepia(100%) grayscale(100%);
  }

.name {
    font-size: 2vw;
    font-weight: 700;
    font-family: 'Manrope';
    color: hsl(217, 19%, 35%);
}

.date {
    font-size: 2vw;
    font-weight: 500;
    font-family: 'Manrope';
    color: hsl(214, 17%, 51%);
}

.share-hide {
    display: none;
}

.pop-up {
    display: none;
}

.pop-up-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 7vw;
    border-radius: 12px;
    background-color: hsl(217, 19%, 35%);
}

.pop-up-arrow {
    position: relative;
    top: -1px;
    width: 70%;
    height: 2vw;
    background-color: hsl(217, 19%, 35%);
    clip-path: polygon(40% 0, 60% 0, 50% 100%);
}

.pop-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -11%;
    bottom: 30%;
    width: 45%;
}


@media only screen and (max-width:600px){
    .background {
        flex-direction: column;
        width: 75%;
        height: 90vh;
    }
    .background > .image {
        width: 100%;
        height: 40%;
    }

    .text {
        position: relative; 
        right: 0;
        width: 100%;
        height: 60%;
        border-bottom-left-radius: 4%;
        border-bottom-right-radius: 4%;
        padding: 0%;
    }

    .background > .image > img{
        border-top-right-radius: 4%;
        border-top-left-radius: 4%;
        border-bottom-left-radius: 0;
    }

    .main {
        box-sizing: border-box;
        font-size: 4vw;
        padding-left: 10%;
        padding-right: 10%;
    }

    .sub {
        box-sizing: border-box;
        font-size: 3vw;
        padding-left: 10%;
        padding-right: 10%;
    }

    .name {
        font-size: 3vw;
    }

    .date {
        font-size: 3vw;
    }

    .bio {
        justify-content: space-evenly;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100%;
    }

    .share-hide {
        display: none;
    }

    .dark{
        background-color: hsl(0, 0%, 9%);
    }

    .image-name-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 65%;
    }

    .hidden {
        display: none;
    }

    .share-show{
        width: 65%;
        padding: 5% 0;
        display: flex;
        justify-content: space-around;
    }
    
    .pop-up {
        display: none;
    }

    .icon {
        width: 8%;
        height: 6vw;
    }

    .image-name-date .image {
        width: 25%;
    }
}